.login{
    background-color: rgba(104, 163, 252, 0.596);
    max-width: 20%;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.158);
    margin-bottom: 80px;
    flex-direction: column;
    align-items: middle;
    display: flex;
}