/* Todas as telas */

body{
    background-color: #f5f5ff;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%; 
    text-align: center;
    
}

/* Todas as telas */

/* Index */

/* Index */

/* Cadastro */

.cadastro{
    background-color: rgba(104, 163, 252, 0.596);
    max-width: 75%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.158);
   
    margin-bottom: 80px;
    flex-direction: column;
    display: flex;
}
 
form input[type="email"]{
    margin-bottom: 15px;
}
 
#inputEstado{
    width: 90%;
    margin-bottom: 15px;
}
 
.endereco{
    width: 98%;
    margin-bottom: 15px;
}
/* Cadastro */

/* Login */
.login{
    background-color: rgba(104, 163, 252, 0.596);
    max-width: 20%;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.158);
 
    margin-bottom: 80px;
    flex-direction: column;
    align-items: middle;
    display: flex;
}
/* Login */

.gerencia {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    align-items: center;
    margin-bottom: 2%;
}

input.checkbox {
    transform : scale(1.4);
    margin-left: 10px;
    align-items: center;
}

.gerenciaL{
    margin-top: 6.1px;
    margin-left: 4px;

}

h1 {
    margin-top: 25px;
    text-align: center;
}