<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senac Chaves</title>
</head>

<body>

    <!--FAQ-->
    <h1>FAQ</h1>
    <br><br>
 
    <h2>Como chegar até a página de cadastro?</h2>
    <br>
    <h5>1. Navegue até a Barra de Navegação:</h5>
    <br>
    <p>Na parte superior do site, você encontrará a barra de navegação.</p>
 
    <p>Na barra de navegação, localize a opção "Cadastro" e clique nela. Isso o levará à página de cadastro do sistema.</p>
 
    <h2>Como se cadastrar no sistema?</h2>
    <br>
    <h5>1. Preencha o Formulário de Cadastro:</h5>
    <br>
    <p>Na página de cadastro, você verá um formulário que deve ser preenchido, Com as suas informações pessoais, seu nome, email, endereço e etc.</p>
 
    <h5>2. Revise as informações:</h5>
    <br>
    <p>Antes de enviar o formulário, revise todas as informações para garantir que estejam corretas e completas.</p>
 
    <h5>3. Envie o Formulário:</h5>
    <br>
    <p>Após preencher todos os campos e revisar as informações, clique no botão "Cadastrar usuário" para enviar o formulário.</p>
    <p>Se o seu formulario for enviado com exito vai aparecer a seguinte informação "Usuário cadastrado com sucesso".</p>
    <p>Se tiver aparecido a mensagem "Erro ao cadastrar o usuário", revise as informações que você inseriu no formulario e tente outra vez.</p>
    <!--FAQ-->
    
</body>

</html>